<nav>
    <div class="logo">
      <img src="" alt="logo" />
    </div>
    <ul>
      <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
      <li><a href="#"><i class="fas fa-user-cog"></i> My Accounts</a></li>
      <li><a href="#"><i class="fas fa-credit-card"></i> Payments</a></li>
      <li><a href="#"><i class="fas fa-credit-card"></i> Cards</a></li>
      <li><a href="#"><i class="fas fa-exchange-alt"></i> Currency Exchange</a></li>
      <li><a href="#"><i class="fas fa-box-open"></i> Product Catalogue</a></li>
      <li><a href="#"><i class="fas fa-tachometer-alt"></i> PFM</a></li>
      <li><a href="#"><i class="fas fa-user"></i> Self Care</a></li>
      <li><a href="#"><i class="fas fa-headset"></i> Support</a></li>
    </ul>
  </nav>
  