//Defined variables

$primary-color: #00abe6;
$secondary-color: #01496b;
$accent-color: #6f941d;
$background-color: #ecece4;
$bg-white:#f6f9f3;  
$bg-gray:#f6f9f3;
$text-color: #9fa4a7;
$dark-gray:#646564;